<div id="awesome-motive-challange-3">
    <h2>Awesome Motive - Challenge 3 - Joao Albuquerque</h2>

    <h2>PHP INFO</h2>
    <challenge3
            :columns="{{ columns|json_encode }}"
            :data-set="{{ dataSet|json_encode }}"
    >
    </challenge3>
</div>
